<mat-toolbar>
    <mat-toolbar-row>
        <a class="logo" routerLink="/">
            <img src="../../assets/imagens/logo.png" alt="" id="im">
        </a>
        <div class="acesso">
            <div class="menu-links">
                <a mat-button routerLink="/jogos">Jogos</a>
                <a mat-button routerLink="/">Portfólio</a>
                <a mat-button routerLink="/formulario">contatos</a>
            </div>
            <input type="text" name="text" id="pesquisa" placeholder="Pesquisar">
            <button><img src="../../assets/imagens/icon-pesquisa.png" alt=""></button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>