<div class="cards">
    <div class="card-destaque">
        <img src="../../assets/imagens/jogo-icon.png" alt="" class="card-img">
        <p>Games Destaques</p>
        <button>Saiba Mais</button>
    </div>
    <div class="card-destaque">
        <img src="../../assets/imagens/jogo-icon.png" alt="" class="card-img">
        <p>Games Destaques</p>
        <button>Saiba Mais</button>
    </div>
    <div class="card-destaque">
        <img src="../../assets/imagens/jogo-icon.png" alt="" class="card-img">
        <p>Games Destaques</p>
        <button>Saiba Mais</button>
    </div>
    <div class="card-destaque">
        <img src="../../assets/imagens/jogo-icon.png" alt="" class="card-img">
        <p>Games Destaques</p>
        <button>Saiba Mais</button>
    </div>
    <div class="card-destaque">
        <img src="../../assets/imagens/jogo-icon.png" alt="" class="card-img">
        <p>Games Destaques</p>
        <button>Saiba Mais</button>
    </div>
</div>