<div class="novidades">
    <div class="novidade">
        <h2>Novidades</h2>
        <div class="card-novidade">
            <a href="#">
                <h3>Games Novidades</h3>
                <p>Confira esse novo Jogo!!</p>
            </a>
        </div>
        <div class="card-novidade">
            <a href="#">
                <h3>Games Novidades</h3>
                <p>Confira esse novo Jogo!!</p>
            </a>
        </div>
        <div class="card-novidade">
            <a href="#">
                <h3>Games Novidades</h3>
                <p>Confira esse novo Jogo!!</p>
            </a>
        </div>
    </div>
    <div class="galeria">
        <h2>Galeria</h2>
        <div>
            <div class="jogos">
                <h3>Meus Jogos</h3>
                <p><a href="#">Jogo 1</a></p>
                <p><a href="#">Jogo 2</a></p>
                <p><a href="#">Jogo 3</a></p>
                <p><a href="#">Jogo 4</a></p>
            </div>
            <div class="jogos">
                <h3>Favoritos</h3>
                <p><a href="#">Jogo 1</a></p>
                <p><a href="#">Jogo 2</a></p>
                <p><a href="#">Jogo 3</a></p>
                <p><a href="#">Jogo 4</a></p>
            </div>
        </div>
    </div>
</div>